<div class = "row">
        <div class = "col-md-6" style = "padding-top:1%;">
              <h1 class="display-4 box-content-text color-font" style = "padding-left: 20%;">Blog Posts</h1>
              <h1 class="display-4 box-title lg-thin-header" style = "padding-bottom: 1%;">Insights and Tips</h1>
        </div>
        <div class = "col-md-6">

        </div>
</div>
<div class="row" style = "padding-left: 10%;padding-right: 10%">
            <div *ngFor = "let post of blogPosts" class="col-md-4 image" style= "padding-left:1%;padding-right: 1%">
                <a [routerLink]="'/blog/' + post.fields.name">
                    <fade-over-image [myImageUrl]="post.fields.banner?.fields.file.url"></fade-over-image>
                </a>                
                <div class = "row">
                                <div class="display-4 md-header" 
                                [innerHTML] = "post.fields.title | richTextPipe"></div>                        
                  </div>  
                      <div class = "row">
                              <div class="display-4 mini-font" style = "opacity:0.6;"
                              [innerHTML] = "post.fields.shortDesc | richTextPipe"></div>                        
                </div>  
  
            </div>
    </div>
<div class = "row">
                <div class = "col-md-12">
                     <img  src="assets/divider-dark.png" style="width: 100%;">
                </div>                         
</div>  
<div class="standard-theme">
        
       <div class = "row bottom-line footer-cont">
          <div class="col-md-4">
                 <div style = "padding-left: 5%;padding-top: 2%;">                 
                 <h1 class="display-4 footer-font" style = "opacity:0.6;"
                 [innerHTML] = "footerContent?.fields.leftBox.fields.shortDesc | richTextPipe">
                 </h1>    
                 <h1 [innerHTML] = "footerContent?.fields.leftBox.fields.subTitle | richTextPipe" 
                     class="display-4 footer-font"></h1> 
                    <div class = "row">
                     <div *ngFor = "let promise of ourPromises?.fields.list" class = "col-6" style= "padding:10px">
                            <div class = "row">
                            <div class = "col-4">
                                    <i [ngClass] = "promise.fields.fontAwesome"></i>
                            </div>
                            <div class = "col-8">
                                            <h1 [innerHTML] = "promise?.fields.title | richTextPipe" style = "opacity:0.6;"
                                                class="display-4 footer-font"></h1>
                            </div>  
                        </div>
                     </div>
                    </div>
                   </div>                   
          </div>
          <div *ngFor = "let column of siteMap?.fields.list"class="col-md-2 sitemap-col">
                <a *ngFor = "let link of column.fields.list" 
                    [routerLink]="link.fields.path" 
                    (click)="siteMapClick()"
                    class = "nostyle color-font">        
                <h1 [ngClass] = "link.fields.class" 
                     class="display-4 footer-font color-font"
                     [innerHTML] = "link?.fields.title | richTextPipe"></h1>
                </a>
          </div>
          <div class="col-md-2" style = "padding-bottom: 5%;">
           <h1 class="display-4 footer-font" style = "padding-top: 2%;opacity:0.6;"
               [innerHTML] = "footerContent?.fields.rightBox.fields.content | richTextPipe"></h1> 
           <div style = "display: inline" class = "color-font">
                        <app-social></app-social>
          </div>  
          </div>
          <div class="col-md-12 footer-logo" style = "padding-bottom: 5%;">
            <img style = "width: 100%;" src="assets/splidoo-full-logo-dark.png">
        </div>
                 
       </div>
       <div class = "row">
                <div class="col-md-12" style = "text-align: center;padding-bottom: 5%;">
                    <h1 class="display-4 footer-font">© Copyright Splidoo Creative Agency. 2018. All rights reserved. | <a [routerLink]="'/terms/'" class = "nostyle color-font">Terms & Conditions</a></h1>
                </div>
       </div>
    </div>