::ng-deep .mat-form-field-outline-start {
    background-color: white;
}

::ng-deep .mat-form-field-outline-end {
    background-color: white;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #efa937;
    color: #ffffff
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px 0 5px 0;
}