
.spaBanner {
    border-right:#efa937;
    border-right-style: solid;
    border-width: 5px;
    background-color:rgba(247, 206, 148, 0.2);
    margin-top: 5%;
}

.banner-image {
    padding-left: 35%;
    padding-right: 35%;
}

.main-image {
    width:100%;
   }