<div class = "col-md-12"> 
    <div class = "row bundleBanner" style = "padding-top: 20px;">
            <div class = "col-4" style = "padding-bottom: 20px;">
                    <div class = "bundle-img banner-image"> 
                              <img [src]="bundle.fields.image?.fields.file.url | imagePipe" />                   
                     </div>
            </div>
            <div class = "col-8" style = "padding-bottom: 20px;">
                   <div class="display-4 md-header box-title long-bottom-line" [innerHTML] = "bundle.fields.name" style = "font-size: 20px;font-weight: 700"></div>
                   <div class="display-4 md-header" [innerHTML] = "bundle.fields.shortDesc | richTextPipe" style = "font-size: 16px;font-weight: 300"></div>
            </div>
            <div (click) = "toggleBundle()" class = "col-md-12 bottom-arrow" style = "text-align:center;width: 100%;font-size: 30px;">
                <i class="fa fa-angle-down"></i>
          </div> 
    </div> 
        <div class = "bundle-list" [ngClass] =  'bundle.fields.type'>                  
          <ul class="list-group list-group-flush">
              <li *ngFor = "let feature of bundle.fields.list" class="list-group-item bundleItem"> 
                  <div class = "row">
                    <div class = "col-2" style = "text-align: right">
                        <i [ngClass] = "feature.fields.fontAwesome"></i>
                    </div>
                            <div class = "col-10 banner-text" style = "font-weight:500;" [innerHTML] = "feature.fields.title | richTextPipe">                                      
                    </div>
                  </div>                        
              </li>
           </ul>
           <div class = "row" style = "width: 100%;padding-top: 5%;">
              <div class = "col-md-12 box-title">
                       <button mat-stroked-button
                       [routerLink]="'/ordernow/' + bundle.fields.type" 
                       class="color-theme"
                       style = "border-radius:5px;padding-top:5px;padding-bottom: 5px;padding-left:5%;padding-right:5%;border-style: none">                           
                              <div class="banner-text color-theme light-font" >
                                <i class = "fa fa-shopping-cart" style = "padding-right: 5px;font-size: 20px"></i>
                                Order Now</div>                                
                       </button>                                                                                   
               </div>
          </div>   
         </div>
</div>