.bottom-arrow:hover {
    cursor: pointer;
  }

  .bundle-desc {
    border-bottom-style: none;
    border-width:0px;
    background-color:rgba(74, 74, 75, 0.1);
}

.bottom-arrow {
    border-bottom-color: white;
    border-bottom-style: solid;
    border-width:10px;
    background-color:rgba(74, 74, 75, 0.1);
}
.bundle-img {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom:2%;
}

.bundleBanner {
    border-width:0px;
}

.bundleItem {
    background-color:rgba(74, 74, 75, 0.1);
}

.bundle-list {
    display: none;
}