<div class = "row menu-item-container">
        <div class = "row">
                <div *ngIf = "showArow" class = "col-md-4" style="max-width: 30px;opacity: 0.5;" (mouseenter) ="mouseEnter('item')" (mouseleave) ="mouseLeave('item')">
                        <i class="fa fa-angle-down" aria-hidden="true"> </i>
                </div>
        </div>
        <div class = "col-md-12">
                <div>
                        <div class = "expandMenu" 
                                (mouseenter) ="mouseEnter('expand')" 
                                (mouseleave) ="mouseLeave('expand')" 
                                [@menuClick] = "state">
                          <button *ngFor="let option of menuItem.fields.subOptions" class="dropdown-item">
                                <h1 class="display-4 sub-menu-option">{{option.fields.name}}</h1>
                           </button>
                        </div>
                        
                            <div (click) = "clickEvent()">                                        
                                <h1 class="display-4 menu-option">
                                      <a [routerLink]="routerLink" class = "nostyle menu-a" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                      {{menuItem.fields.name}} 
                                      </a></h1> 
                            </div>
                        
                </div>
        </div>
</div>  