
.main-image {
    z-index: 1;
    position: relative;
    width:100%;
   }
.main-text {
   z-index: 3;
   position: absolute;
   padding-top:25%;
   padding-left: 3%;
   width:100%;
    }
   
